server:
  port: 8081

spring:

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/txdb
    username: txuser
    password: txpass

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

app:
  kafka:
    topics:
      received: tx.received
      retry: tx.retry
      dlq: tx.dlq
  idempotency:
    ttlSeconds: 3600